<% if (data && data.length > 0) { %> 
    <main>
        <div class="anime-container">
            <% data.forEach(anime => { %>
                <div class="anime-card" data-anime-id="<%= anime.id %>">
                    <img src="<%= anime.image_url %>" alt="<%= anime.name %>">
                    <h2><%= anime.name %></h2>
                    <p><strong>Release Date:</strong> <%= new Date(anime.release_date).toLocaleDateString() %></p>
                    <p><strong>Completed Date:</strong> <%= new Date(anime.completed_date).toLocaleDateString() %></p>
                    <p><strong>Episodes:</strong> <%= anime.episodes %></p>
                    <p><strong>Duration:</strong> <%= anime.duration %></p>
                    <p><strong>Rating:</strong> <%= anime.rating %></p>
                    <p><strong>Favorites:</strong> <%= anime.favorites %></p>
                    <p><strong>Type:</strong><%= anime.type %> </p>
                    <p><strong>Status:</strong> <%= anime.status %></p>
                    <p><strong>Creator:</strong> <%= anime.creator %></p>
                    <p><strong>Age Rating:</strong> <%= anime.age_rating %></p>                    
                    <div class="anime-synopsis">
                        <p><%= anime.synopsis %></p>
                    </div>
                </div>
            <% }) %>
        </div>
    </main>
    <script>
        const animeCards = document.querySelectorAll('.anime-card');
    
        animeCards.forEach(card => {
            card.addEventListener('click', () => {
                const synopsis = card.querySelector('.anime-synopsis');
                const isActive = synopsis.classList.contains('active');
    
                document.querySelectorAll('.anime-synopsis').forEach(syn => syn.classList.remove('active'));
    
                if (!isActive) {
                    synopsis.classList.add('active');
                }
            });
    
            card.addEventListener('mouseleave', () => {
                const synopsis = card.querySelector('.anime-synopsis');
                synopsis.classList.remove('active');
            });
        });
    </script>
    
<% } %>    