<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Anime Series</title>
    <link rel="stylesheet" href="/css/addAnime.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <%- include("./partials/header.ejs") %> 
    <div class="container">
        <h2>Create Anime Series</h2>
        <%- include('./partials/errors.ejs') %>
        <form action="<% locals.route %>" method="post" enctype="multipart/form-data">
            <label for="name">Name:</label>
            <input
                type="text"
                id="name"
                name="name"
                value="<%= values.name || '' %>"
                required
            />

            <label>Genres:</label>
            <div class="genres">
                <button type="button" class="genre-list-toggle" data-toggle="1">
                    Show Genre
                </button>
                <div class="genre-checkbox-parent">
                    <ul class="genre-checkbox-list">
                        <% locals.genres.map((genre) => { %>
                            <li>
                                <input
                                    <% if (values.checkedGenres && values.checkedGenres.includes(genre)) { %>
                                        <%= 'checked' %>
                                    <% } %> 
                                    class="genre-checkbox"
                                    type="checkbox"
                                    name="genre"
                                    value="<%= genre %>"
                                    id="<%= genre %>"
                                />
                                <label class="genre-checkbox-label" for="<%= genre %>"><%= genre %></label>
                            </li>
                         <% }) %>
                    </ul>
                </div>
            </div>

            <label for="release_date">Release Date:</label>
            <input
                required
                type="datetime-local"
                id="release_date"
                name="release_date"
                value="<%= values.release_date?.toLocaleString('sv-SE')?.replace(' ', 'T') || '' %>"
            />

            <label for="completed_date">Completed Date:</label>
            <input
                type="datetime-local"
                id="completed_date"
                name="completed_date"
                value="<%= values.completed_date?.toLocaleString('sv-SE')?.replace(' ', 'T') || '' %>"
            />

            <label for="creator">Creator:</label>
            <input
                type="text" 
                id="creator"
                name="creator"
                value="<%= values.creator || '' %>"
            />

            <label for="rating">Rating (0.00 to 10.00):</label>
            <input
                type="number"
                id="rating"
                name="rating"
                min="0"
                max="10"
                step="0.1"
                value="<%= values.rating || '0.00' %>"
            />

            <label for="episodes">Episodes:</label>
            <input
                type="number"
                id="episodes"
                name="episodes"
                min="0"
                value="<%= values.episodes || '0' %>"
            />

            <label for="duration">Duration (e.g., 23 min per episode):</label>
            <input
                type="text"
                id="duration"
                name="duration"
                value="<%= values.duration || '' %>"
            />

            <div class="form-field">
                <label for="ratings">Select Rating</label>
                <select name="age_rating" id="ratings">
                    <option value="" disabled selected>Select Rating</option>
                    <% locals.ratings.forEach(rating => { %>
                        <option value="<%= rating.value %>"><%= rating.label %></option>
                    <% }) %>
                </select>
            </div>

            <label for="scored_by">Scored By:</label>
            <input
                type="number"
                id="scored_by"
                name="scored_by"
                min="0"
                value="<%= values.scored_by || '0' %>"
            />

            <label for="rank">Rank:</label>
            <input
                type="number"
                id="rank"
                name="rank"
                value="<%= values.rank || '0' %>"
            />

            <label for="popularity">Popularity:</label>
            <input
                type="number"
                id="popularity"
                name="popularity"
                value="<%= values.popularity || '0' %>"
            />

            <label for="favorites">Favorites:</label>
            <input
                type="number"
                id="favorites"
                name="favorites"
                value="<%= values.favorites || '0' %>"
            />

            <label for="image">Upload an image:</label>
            <input type="file" name="image" id="image" accept="image/*" />
            <label for="image_url">Image Url: </label>
            <input type="url" name="image_url" id="image_url" accept="image/*" placeholder="url is priorized over image file">

            <label for="synopsis"></label>
            <textarea id="synopsis" name="synopsis" placeholder="Add synopsis"><%= values.synopsis %> </textarea>

            <% if (locals.isUserUpdatable) { %> 
            <div>
                <label for="secret_password">Secret passwword(require to update data and be redirected to homepage)</label>
                <input id="secret_password" type="password" name="secret_password">
            </div>
            <% } %> 
            
            <div>
                <button type="submit"><%= locals.submitLabel %></button>
            </div>
        </form>
    </div>
    <script>
        const genreListToggleBtn = document.querySelector(".genre-list-toggle");
        const genreCheckboxSubParent = document.querySelector(".genre-checkbox-parent");

        function handleGenresDisplay() {
            const toggleValue = genreListToggleBtn.dataset.toggle;
            if (toggleValue === "1") {
                genreListToggleBtn.dataset.toggle = "0";
                genreCheckboxSubParent.style.display = "none";
            } else {
                genreListToggleBtn.dataset.toggle = "1";
                genreCheckboxSubParent.style.display = "block";
            }
        }

        window.onload = () => handleGenresDisplay()

        genreListToggleBtn.addEventListener("click", () => {
            handleGenresDisplay();
        });
    </script>
</body>
<script src="/js/listAnime.js"></script>
</html>
