<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anime List</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
        }

        h2 {
            color: #333;
            font-size: 24px;
            margin-bottom: 10px;
        }

        p {
            color: #555;
            font-size: 16px;
            line-height: 1.5;
        }

        h2,
        p {
            margin: 0 0 15px 0;
        }

        button {
            padding: 1vmax;
            cursor: pointer;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #0056b3;
        }

        .container {
            max-width: 1200px;
            margin: auto;
            padding: 20px;
        }

        .anime-info {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            list-style-type: none;
            padding: 0;
        }

        .anime-card {
            background: white;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            margin: 10px;
            padding: 20px;
            flex: 1 1 calc(40% - 20px);
            transition: transform 0.2s;
        }

        .anime-card:hover {
            transform: scale(1.02);
        }

        .completed {
            color: green;
        }

        .unknown {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="/create" method="get">
            <button style="display: block; margin: auto">Add Anime Date</button>
        </form>
        <ul class="anime-info">
            <% function formatDate(date) { 
                const d = new Date(date); 
                const year = d.getFullYear(); 
                const month = String(d.getMonth() + 1).padStart(2, '0'); 
                const day = String(d.getDate()); 
                return `${year}-${month}-${day.padStart(2, '0')}`; 
            } %> 
            <% locals.animeSeries.forEach(anime => { 
                const completed_date = locals.completed_date ? formatDate(locals.completed_date) : 'unknown'; 
                const release_date = formatDate(anime.release_date); %>
                <li class="anime-card">
                    <h2><%= anime.name %></h2>
                    <p>Mangaka: <%= anime.creator %></p>
                    <p>Released date: <%= release_date %></p>
                    <p>Completed date: <%= completed_date %></p>
                    <p>Rating: <%= anime.rating %></p>
                </li>
            <% }) %>
        </ul>
    </div>
</body>
</html>
